:root {
    --pixel-bg: lightblue; /* Inner background color */
    --pixel-border: black; /* Inner border color: */
    --pixel-border-2: white; /* Middle border color: */
    --pixel-border-3: var(--pixel-border); /* Outer border color */
    --pixel: .125rem; /* Pixel size */
    --minecraft-font: 'Minecraftia', Arial, sans-serif; /* Minecraftia font */
}

body {
    font-family: var(--minecraft-font);
    background-color: #2b2b2b;
    margin: 0;
    padding: 0;
    color: #fff;
}

header {
    background-color: #1a1a1a;
    color: #fff;
    padding: 20px;
    text-align: center;
}

h1 {
    margin: 0;
    font-size: 36px;
}

#projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
}

.project {
    margin: 20px;
    padding: 20px;
    /* Utiliza múltiplas box-shadow para criar a aparência de pixel art */
    box-shadow: 
        0 calc(var(--pixel) * -3) 0 calc(var(--pixel) * -1) var(--pixel-bg),
        0 calc(var(--pixel) * 3) 0 calc(var(--pixel) * -1) var(--pixel-bg),
        0 calc(var(--pixel) * -6) 0 calc(var(--pixel) * -2) var(--pixel-bg),
        0 calc(var(--pixel) * 6) 0 calc(var(--pixel) * -2) var(--pixel-bg),
        0 calc(var(--pixel) * -9) 0 calc(var(--pixel) * -4) var(--pixel-bg),
        0 calc(var(--pixel) * 9) 0 calc(var(--pixel) * -4) var(--pixel-bg),
        0 calc(var(--pixel) * -12) 0 calc(var(--pixel) * -6) var(--pixel-bg),
        0 calc(var(--pixel) * 12) 0 calc(var(--pixel) * -6) var(--pixel-bg),
        calc(var(--pixel) * -1) 0 0 0 var(--pixel-border),
        var(--pixel) 0 0 0 var(--pixel-border),
        0 calc(var(--pixel) * -2) 0 0 var(--pixel-border),
        0 calc(var(--pixel) * 2) 0 0 var(--pixel-border),
        0 calc(var(--pixel) * -5) 0 calc(var(--pixel) * -1) var(--pixel-border),
        0 calc(var(--pixel) * 5) 0 calc(var(--pixel) * -1) var(--pixel-border),
        0 calc(var(--pixel) * -7) 0 calc(var(--pixel) * -2) var(--pixel-border),
        0 calc(var(--pixel) * 7) 0 calc(var(--pixel) * -2) var(--pixel-border),
        0 calc(var(--pixel) * -10) 0 calc(var(--pixel) * -4) var(--pixel-border),
        0 calc(var(--pixel) * 10) 0 calc(var(--pixel) * -4) var(--pixel-border),
        0 calc(var(--pixel) * -13) 0 calc(var(--pixel) * -6) var(--pixel-border),
        0 calc(var(--pixel) * 13) 0 calc(var(--pixel) * -6) var(--pixel-border),
        calc(var(--pixel) * -2) 0 0 0 var(--pixel-border-2),
        calc(var(--pixel) * 2) 0 0 0 var(--pixel-border-2),
        0 calc(var(--pixel) * -1) 0 var(--pixel) var(--pixel-border-2), 
        0 var(--pixel) 0 var(--pixel) var(--pixel-border-2),
        0 calc(var(--pixel) * -4) 0 0 var(--pixel-border-2),
        0 calc(var(--pixel) * 4) 0 0 var(--pixel-border-2),
        0 calc(var(--pixel) * -6) 0 calc(var(--pixel) * -1) var(--pixel-border-2),
        0 calc(var(--pixel) * 6) 0 calc(var(--pixel) * -1) var(--pixel-border-2),
        0 calc(var(--pixel) * -8) 0 calc(var(--pixel) * -2) var(--pixel-border-2),
        0 calc(var(--pixel) * 8) 0 calc(var(--pixel) * -2) var(--pixel-border-2),
        0 calc(var(--pixel) * -11) 0 calc(var(--pixel) * -4) var(--pixel-border-2),
        0 calc(var(--pixel) * 11) 0 calc(var(--pixel) * -4) var(--pixel-border-2),
        0 calc(var(--pixel) * -14) 0 calc(var(--pixel) * -6) var(--pixel-border-2),
        0 calc(var(--pixel) * 14) 0 calc(var(--pixel) * -6) var(--pixel-border-2),
        calc(var(--pixel) * -3) 0 0 0 var(--pixel-border-3),
        calc(var(--pixel) * 3) 0 0 0 var(--pixel-border-3),
        0 0 0 calc(var(--pixel) * 2) var(--pixel-border-3),
        0 calc(var(--pixel) * -3) 0 var(--pixel) var(--pixel-border-3),
        0 calc(var(--pixel) * 3) 0 var(--pixel) var(--pixel-border-3),
        0 calc(var(--pixel) * -5) 0 0 var(--pixel-border-3),
        0 calc(var(--pixel) * 5) 0 0 var(--pixel-border-3),
        0 calc(var(--pixel) * -7) 0 calc(var(--pixel) * -1) var(--pixel-border-3),
        0 calc(var(--pixel) * 7) 0 calc(var(--pixel) * -1) var(--pixel-border-3),
        0 calc(var(--pixel) * -9) 0 calc(var(--pixel) * -2) var(--pixel-border-3), 
        0 calc(var(--pixel) * 9) 0 calc(var(--pixel) * -2) var(--pixel-border-3),
        0 calc(var(--pixel) * -12) 0 calc(var(--pixel) * -4) var(--pixel-border-3), 
        0 calc(var(--pixel) * 12) 0 calc(var(--pixel) * -4) var(--pixel-border-3),
        0 calc(var(--pixel) * -15) 0 calc(var(--pixel) * -6) var(--pixel-border-3), 
        0 calc(var(--pixel) * 15) 0 calc(var(--pixel) * -6) var(--pixel-border-3);
    width: 300px;
}

.project img {
    max-width: 100%;
    border-radius: 5px;
}

.project h2 {
    margin-top: 10px;
    font-size: 24px;
}

.access-button, .download-button {
    font-size: 25px;
    color: white;
    height: auto;
    margin: 10px;
    font-family: 'VT323';
    position: relative;
    display: inline-block;
    vertical-align: top;
    text-transform: uppercase;
    cursor: pointer;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.access-button:active, .download-button:active {
    top: 2px;
}

.access-button {
    line-height: 0;
    image-rendering: optimizeSpeed;
    image-rendering: -moz-crisp-edges; /* Firefox */
    image-rendering: -o-crisp-edges; /* Opera */
    image-rendering: -webkit-optimize-contrast; /* Webkit (non-standard naming) */
    image-rendering: crisp-edges;
    -ms-interpolation-mode: nearest-neighbor; /* IE (non-standard property) */
    border-style: solid;
    border-width: 20px;
    border-color: black;
    -moz-border-image: url(https://i.imgur.com/sREM8Yn.png) 20 stretch;
    -webkit-border-image: url(https://i.imgur.com/sREM8Yn.png) 20 stretch;
    -o-border-image: url(https://i.imgur.com/sREM8Yn.png) 20 stretch;
    border-image: url(https://i.imgur.com/sREM8Yn.png) 20 stretch;
}

.download-button {
    line-height: 0;
    image-rendering: optimizeSpeed;
    image-rendering: -moz-crisp-edges; /* Firefox */
    image-rendering: -o-crisp-edges; /* Opera */
    image-rendering: -webkit-optimize-contrast; /* Webkit (non-standard naming) */
    image-rendering: crisp-edges;
    -ms-interpolation-mode: nearest-neighbor; /* IE (non-standard property) */
    border-style: solid;
    border-color: black;
    border-width: 20px;
    -moz-border-image: url(https://i.imgur.com/sREM8Yn.png) 20 stretch;
    -webkit-border-image: url(https://i.imgur.com/sREM8Yn.png) 20 stretch;
    -o-border-image: url(https://i.imgur.com/sREM8Yn.png) 20 stretch;
    border-image: url(https://i.imgur.com/sREM8Yn.png) 20 stretch;
}

.access-button p, .download-button p {
    display: inline-block;
    vertical-align: top;
    position: relative;
    width: auto;
    text-align: center;
    margin: -20px -20px;
    line-height: 20px;
    padding: 10px 20px;
    background: #000000; /* Cor de fundo para o texto */
    color: white; /* Cor do texto */
    background: linear-gradient(135deg, transparent 10px, #000000 0) top left, linear-gradient(225deg, transparent 10px, #000000 0) top right, linear-gradient(315deg, transparent 10px, #000000 0) bottom right, linear-gradient(45deg, transparent 10px, #000000 0) bottom left;
    background-size: 50% 50%;
    background-repeat: no-repeat;
    background-image: radial-gradient(circle at 0 0, rgba(204,0,0,0) 14px, #000000 15px), radial-gradient(circle at 100% 0, rgba(204,0,0,0) 14px, #000000 15px), radial-gradient(circle at 100% 100%, rgba(204,0,0,0) 14px, #000000 15px), radial-gradient(circle at 0 100%, rgba(204,0,0,0) 14px, #000000 15px);
}
