body {
    font-family: 'Press Start 2P', cursive;
    background-color: #bde3f7;
    margin: 0;
    padding: 0;
}

header {
    background-color: #4c4c4c;
    color: #fff;
    padding: 20px;
    text-align: center;
}

h1 {
    margin: 0;
    font-size: 36px;
    font-weight: normal;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

#projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
}

.project {
    margin: 20px;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    font-size: 16px;
}

.project img {
    max-width: 100%;
    border-radius: 5px;
    image-rendering: pixelated;
}

.project h2 {
    margin-top: 10px;
    font-size: 24px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}
